<h2>login</h2>

<form action="/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />
    </div>
    <div>
        <label for="email">Password:</label>
        <input type="password" name="password" id="password" required />
    </div>
    <button type="submit">Sign in</button>
</form>